<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521146368642-muckrqc0taj79h30k0606g088jg2rah0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521146368642-muckrqc0taj79h30k0606g088jg2rah0</string>
	<key>API_KEY</key>
	<string>AIzaSyD2Eez80LlsCgjPIc1afMgePwnoqi20z7M</string>
	<key>GCM_SENDER_ID</key>
	<string>521146368642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MarioDev.PruebaTecnica</string>
	<key>PROJECT_ID</key>
	<string>pruebatecnica-5542c</string>
	<key>STORAGE_BUCKET</key>
	<string>pruebatecnica-5542c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521146368642:ios:b5d23fe4e1407c9315ea9b</string>
</dict>
</plist>